*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(197, 236, 234);
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    
}

.choice{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

img{
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 50%;

}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
}

.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 3rem;
    margin-top: 3rem;

}

#user-score,#comp-score{
    font-size: 4rem;
}

#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    display: inline;
}

.msg-container{
    margin-top: 5rem;
}
